<div class="container my-5">
  <div class="row">
    <h2>Success! Please use this link</h2>
    <form action="/">
      <h2>
        <a href="{{ shortURL }}">{{ shortURL }}</a>
      </h2 <div>
      <a href="#"><button type="submit" class="btn btn-primary my-3">Copy</button></a>
      <a href="/"><button type="submit" class="btn btn-info my-3">Back</button></a>
  </div>
  </form>
</div>
</div>