<div class="container my-5">
  <div class="row">
    <p>Success! Please use this link</p>
    <form action="/">
      <a href="#">https://test.com.tw</a>
      <div>
        <button type="submit" class="btn btn-primary my-3">Copy</button>
      </div>
    </form>
  </div>
</div>